.Layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Content {
    height: calc(100% - 152px);
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    padding: 0 48px 24px;
}